* {
    margin: 0;
    padding: 0
}
html {
    width: 100%;
    height: 100%;
    background: url(../images/bg4.png) no-repeat;
    background-size: 100% 100%;
}
body {
/*    background: url(../images/main.png) no-repeat;
    background-size: 100%;*/
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    min-width: 320px;
    height: 100%
}
body,
input,
textarea,
select,
button,
table {
    font-size: 1em;
    line-height: 1.3em;
    font-family: Sans-serif, Arial Helvetica, AppleSDGothicNeo;
    border-radius: 0;
    color: #9a9a9a
}
button {
    border: 0 none
}
img {
    max-width: 100%;
    border: 0;
    vertical-align: middle
}
em,
address {
    font-style: normal
}
.hidden {
    display: none
}
.blind {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    text-indent: -9999em;
    visibility: hidden
}
.swiper-container {
    width: 100%;
    height: 100%
}
.swiper-slide {
    text-align: center;
    font-size: 18px
}
#wlMobileWrap {
    word-break: normal
}
#wlMobileWrap .spContainer {
    position: relative;
    width: 100%;
    background: -webkit-linear-gradient(top, #000 40%, #979797)
}
#wlMobileWrap .spContainer h1.sp_logo {
    width: 30%;
    vertical-align: middle;
    padding: 10px
}
#wlMobileWrap .spContainer .swiper-container {
    background: url(../images/bg_light.png) center center repeat-x
}
#wlMobileWrap .spContainer .swiper-container .swiper-slide {
    /*padding: 3% 0 5% 0*/
}
#wlMobileWrap .spContainer .swiper-container .swiper-slide .mobileImg {
    display: inline-block;
    width: 100%
}
#wlMobileWrap .spContainer .swiper-container .swiper-slide .sub_txt {
    width: 80%;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding-bottom: 15px;
    word-break: normal
}
#wlMobileWrap .spContainer .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: .5
}
#wlMobileWrap .spContainer .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
    opacity: .8
}
#wlMobileWrap .spDownload {
    position: absolute;
    text-align: center;
    clear: both;
    bottom: 1%;
}
#wlMobileWrap .spDownload .btn {
    display: inline-block;
    width: 80%;
    height: 60px;
    border: 3px solid #9f9f9f;
    border-radius: 35px;
    padding-left: 20px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 10px;
    background: url(../images/btn_pattern_bg.png) repeat;
    text-decoration: none
}
#wlMobileWrap .spDownload .btn.blue-btn {
    background-color: #105076;
    box-shadow: inset 0 10px 30px rgba(95, 172, 216, 0.7)
}
#wlMobileWrap .spDownload .btn.black-btn {
    background-color: #131313;
    box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.2)
}
#wlMobileWrap .spDownload .btn.green-btn {
    background-color: #6c9c38;
    box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.2)
}
#wlMobileWrap .spDownload .btn span {
    display: block;
    padding: 16px 0 0 0;
    line-height: 30px
}
#wlMobileWrap .spDownload .btn span.androidBtn {
    background: url(../images/icon_android.png) left center no-repeat;
    background-size: 36px 36px;
    background-position: 0 13px
}
#wlMobileWrap .spDownload .btn span.iosBtn {
    background: url(../images/btn1.png) left center no-repeat;
    background-size: 36px 36px;
    background-position: 0 13px
}
#wlMobileWrap .spDownload .btn span.setup_btn {
    background: url(../images/btn2.png) left center no-repeat;
    background-size: 36px 36px;
    background-position: 0 13px
}
#wlMobileWrap .spDownload .compatible_txt {
    font-size: .8em
}
#wlMobileWrap .spFoot {
    clear: both;
    padding-bottom: 10px
}
#wlMobileWrap .spFoot address {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    font-size: .85em
}
#wlMobileWrap .setupLayer {
    display: none;
    position: fixed;
    width: 90%;
    height: 90%;
    overflow: hidden;
    left: 5%;
    top: 5%;
    background: #fff;
    z-index: 10000;
    transition: all .75s ease-in;
    opacity: 0;
    word-break: normal
}
#wlMobileWrap .setupLayer div:last-child{
    display:none;
}
#wlMobileWrap .setupLayer .setupTab{
    width:100%;
    margin-bottom:10px;
}
#wlMobileWrap .setupLayer .setupTab li{
    display:inline-block;
    font-size:1em;
}
#wlMobileWrap .setupLayer .setupTab li a{
    display:block;
    width:100px;
    text-align:center;
    padding:7px;
    border-radius:20px;
    border:2px solid #ddd;
    background-color:#eee;
    color:#000;
    text-decoration:none;
}
#wlMobileWrap .setupLayer .setupTab li a.active{
    background-color:#fff;
    font-weight:bold;
    border:2px solid #666;
}
#wlMobileWrap .setupLayer.open {
    display: block;
    opacity: 1
}
#wlMobileWrap .setupLayer .setupInner {
    height: 85%;
    padding: 0 5% 5% 5%;
    margin-top: 10%;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}
#wlMobileWrap .setupLayer .setupInner h2 {
    padding: 10px 0;
    color: #000
}
#wlMobileWrap .setupLayer .setupInner .setupImg {
    padding: 10px 0;
    text-align: center
}
#wlMobileWrap .setupLayer .setupInner .howTxt {
    padding: 10px 0;
    text-align: center
}
#wlMobileWrap .setupLayer .closed-btn {
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    background: #fff url(../images/btn_layer_closed.png) center center no-repeat;
    background-size: 34px 34px;
    top: 2px;
    right: 2px
}
@media only screen and (orientation: landscape) {
    #wlMobileWrap .spContainer h1.sp_logo {
        position: absolute;
        width: 20%;
        padding-bottom: 0
    }
    #wlMobileWrap .spContainer .swiper-container {
        background-image: none
    }
    #wlMobileWrap .spContainer .swiper-container .swiper-slide {
        padding: 0
    }
    #wlMobileWrap .spContainer .swiper-container .swiper-slide .mobileImg {
        display: inline-block;
        width: 50%
    }
    #wlMobileWrap .spContainer .swiper-container .swiper-slide .sub_txt {
        float: right;
        margin: 10px 0 10px 0;
        text-align: right;
        padding: 0 10px 0 0
    }
    #wlMobileWrap .spContainer .swiper-container .swiper-pagination {
        bottom: 20px
    }
    #wlMobileWrap .spDownload {
        padding: 10px 0 10px 0
    }
    #wlMobileWrap .spDownload .btn {
        width: 40%;
        margin: 10px
    }
    #wlMobileWrap .spDownload .compatible_txt {
        position: absolute;
        width: 100%;
        color: #fff;
        text-align: right;
        top: -45px
    }
    #wlMobileWrap .spFoot {
        display: none
    }
}
@media (max-width: 568px) and (orientation: landscape) {
    body {
        font-size: .9em
    }
    #wlMobileWrap .spContainer .swiper-container .swiper-slide .sub_txt {
        font-size: .75em
    }
    #wlMobileWrap .spDownload .btn {
        width: 45%
    }
    #wlMobileWrap .spDownload .compatible_txt {
        top: -20px
    }
    #wlMobileWrap .spFoot {
        display: none
    }
}
#WeiXin {
    display: none;
    position: fixed;
    top: .5em;
    left: 5%;
    width: 90%;
    padding: 14% 0;
    font-size: 1.5em;
    border-radius: 1em;
    text-align: center;
    color: #fff;
    background: #000 url(../images/ico_arrow.png) right top no-repeat;
    background-size: 100% auto;
    opacity: .8;
    z-index: 10;
    height: 80%;
    line-height: 35px
}
#WeiXin em {
    color: #ff9;
    font-style: normal
}


.btn1,.btn2{width: 87%; padding-top: 14%; display: inline-block; margin: 0 0 3.5%;}
.btn1{background: url(../images/btn1.png) no-repeat; background-size: 100%;}
.btn2{background: url(../images/btn2.png) no-repeat; background-size: 100%;}

.ftimg{text-align: center;}
.ftimg img{width: 83.59375%;}

.mask {
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#aztkbt{
    color:red;margin:30px;
    font-size: 15px;
}
.alert-box {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    top: 15%;
    margin: auto;
    background: #ffffff;
    height: auto;
}
.progress-box {
    position: relative;
    width: 100%;
    background: #ffffff;
    z-index: 2;
    display: none;
    height: 30px;
    line-height: 30px;
}
.progress-tip {
    width: 100%;
    text-align: center;
    color: #213861;
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 4;
    font-size: 16px;
}
.color-bar {
    position: absolute;
    left: 0;
    top: 0;
    background: #3485ff;
    width: 0.1%;
    height: 100%;
    z-index: 1;
}
.close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -9px;
    top: -9px;
    z-index: 3;
    background-size: contain;
}
.lead {
    width: 100%;
}
.turn-box {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    height: 200px;
}
.turn-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0px;
}
.turn-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*background:url(https://scpa.stwndlq.com/iostg/icon/atlasrenzheng.gif) no-repeat ;*/
    background-size: 100%;
    height: 100%;
}
.trust-btn {
    background: orange;
}
.trust-btn {
    background: orange;
}
.trust-btn {
    background: orange;
}
.alert-btn{
    left: 0;
    right: 0;
    top: 15%;
    margin: auto;
    background: #ffffff;
    height: auto;
}
.btn {
    position: relative;
    display: block;
    width: 80%;
    line-height: 35px;
    background: rgba(54, 128, 169, 0.78);
    margin: 12px auto;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}









